<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
</head>
<body>
<form name="f" method="post" action="/process_login">

    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <label for ="username"> Введите имя пользователя</label>
    <input type="text" name = "username" id="username"/>
    <br/>
    <label for = "password"> введите пароль:</label>
    <input type="text" name="password" id ="password">
    <br/>
    <input type="submit" value="Login"/>
    <br/>
    <br/>
    <a href="/auth/registration">регистрация</a>

    <div th:if="${param.error}" style="color: red">
        Неправильные логин или пароль
    </div>

</form>

</body>
</html>